body {
	background-color: #fffff0;
	font-size: 10px;
}
p {
	margin: 0px;
	padding: 0px;
}
#chatTable {
	border-style: none;
	font: Meiryo;
	table-layout: fixed;
	width: 370px;
}
#chatTable td {
	padding: 0px;
	overflow: auto;
}
.usercol {
	vertical-align: top;
	font-weight: bold;
	width: 70px;
}
.timecol {
	vertical-align: top;
	font-style: italic;
	width: 70px;
}
.messagecol {
	text-align: left;
	width: 230px;
}
.system {
	font-weight: bold;
	font-style: italic;
	color: #c45000;
}
.error {
	font-style: italic;
}
.error-header {
	font-style: italic;
	font-weight: bold;
	color: red;
}
.server {
	font-style: italic;
}
.kanjilink {
	text-decoration: none;
	font-size: 2em;
}
.private-message {
	font-style: italic;
}
.userlink {
	text-decoration: none;
	color: black;
}